

<div class="container">
  <div class="container">
    <form #form="ngForm" (ngSubmit)="createData(form)" class="row g-3">
      <div class="col-auto">
        <input type="text" name="name" required class="form-control" placeholder="Nombre" ngModel>
      </div>
      <div class="col-auto">
        <input type="text" name="description" required class="form-control" placeholder="Descripción" ngModel>
      </div>
      <div class="col-auto">
        <input type="text" name="image" required class="form-control" placeholder="URL de Imagen" ngModel>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Editar</button>
      </div>
  
      <div *ngIf="form.submitted && !form.valid" class="alert alert-danger" role="alert">
        Datos incompletos
      </div>
  
    </form>

    <div class="container d-flex">
      <app-shows *ngFor="let show of shows" [show]="show" (deleteElement)="deleteData(string)"></app-shows>
    </div>
  </div>





